<h1>Admin Page</h1>

<h2>Courses</h2>
{{#each classes}}
  <p>{{name}}</p>
{{/each}}

<h2>Users</h2>

{{#each users}}
  <p>{{firstName}}</p>
    <a href="/delete/student/{{_id}}"><button>Delete</button></a>
  <p>{{_id}}</p>
{{/each}}