<h2>Create</h2>

<form action="/auth/signup" method="POST">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">

  <br><br>

  <label for="role">Role</label>
  <select name="role" id="">
    <option value="Teacher">Teacher</option>
    <option value="TA">TA</option>
    <option value="Student">Student</option>
  </select>

  <br>

  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Create</button>

</form>