<div class="container d-flex flex-column align-items-center">

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="7000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption"><strong>IRON</strong>CLASS</div>
        <img class="d-block w-100" src="/images/classroom3.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <div class="carousel-caption"><strong>IRON</strong>CLASS</div>
        <img class="d-block w-100" src="/images/classroom2.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <div class="carousel-caption"><strong>IRON</strong>CLASS</div>
        <img class="d-block w-100" src="/images/classroom1.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <div class="carousel-caption"><strong>IRON</strong>CLASS</div>
        <img class="d-block w-100" src="/images/classroom4.jpg" alt="Fourth slide">
      </div>
    </div>
  </div>
  
</div>

