<div class="container">
  <div class="container-landing d-flex flex-column justify-content-center">

    <div class="row">
      <div class="col-12">
        <h1>Welcome to <strong>IRON</strong>CLASS</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <img class="img-landing--width" src="/images/undraw_pair_programming_dark.svg" alt="">
      </div>
      <div class="col-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime laborum distinctio nemo, autem at recusandae
          cum. Dignissimos nesciunt, id, dicta quas soluta iusto eum numquam accusamus, voluptates perferendis ex
          asperiores?
          Repudiandae autem numquam quibusdam iste fuga deleniti voluptates aliquam in, neque, optio assumenda, fugiat
          soluta culpa obcaecati nobis adipisci. Maxime adipisci suscipit et expedita accusantium, fuga corporis labore
          molestiae tempora.
          Quod voluptates aliquam quas necessitatibus libero officia unde corporis exercitationem, non nostrum nisi
          tempore, deserunt ratione odio repellendus ipsa expedita sit sunt rem nihil suscipit laborum incidunt aut.
          Odit,
          fugit!
          Placeat at repellendus aliquam impedit beatae tempore nihil reprehenderit ab, nemo sapiente modi rem deleniti
          molestias fuga adipisci fugit. Quo assumenda minima cupiditate. Ratione hic fuga ipsum aliquam consectetur
          atque.
          Quibusdam fugit accusantium unde assumenda praesentium autem ab, exercitationem alias quod atque aut
          cupiditate
          eveniet sit architecto officia? Minus, fugit ratione excepturi mollitia aspernatur quibusdam. Ipsam distinctio
          debitis sequi mollitia.</p>
      </div>
    </div>
  </div>
</div>