<div class="container">
  <div class="container-landing d-flex flex-column justify-content-center">

    <div class="row">
      <div class="col-12 text-center">
        <h1 class="h1-landing">Welcome to <strong>IRON</strong>CLASS</h1>
        <h4 class="p-landing">
          Ironclass helps students, TAs and teachers ensure that their courses run smoothly.
        </h4>
      </div>
      <div class="col-12 col-lg-4 d-flex flex-column justify-content-center">
        <img class="img-landing" src="/images/undraw_pair_programming_dark.svg" alt="">
      </div>
      <div class="col-12 col-lg-7">

        <h5 class="h5-landing ">Benefits for Students:</h5>
        <p class="p-landing">
          You can identify your work group and your task quickly. When help from a TA is needed, you can easily put
          yourself on the waiting list (wave) and wait for the TA to approach you. No more stress in getting a TAs
          attention.
        </p>

        <h5 class="h5-landing ">Benefits for Teachers:</h5>
        <p class="p-landing">
          The division of workgroups is done with a single click and chances that group members already worked
          together are kept low. You can exclude not present members when creating these groups.
          Organize your classes and their members at all times.
        </p>

        <h5 class="h5-landing ">Benefits for TAs:</h5>
        <p class="p-landing">
          You know which student needs help next and you can concentrate on providing it without being unfair.
          Help the teacher with administrative work. You can create, edit or delete members, or even create a brand new
          class.
        </p>
      </div>
    </div>
  </div>
</div>