$main-lighter: #e3e8f8;
$main-light: #6a99cb;
$main-dark: #203562;
$main-darker: #2E3233;

//Bootstrap
$primary: $main-dark;
$warning: $main-light;
$danger: #f77754;

@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $main-light;
  font-family: "Abel", Helvetica, Arial;
}

a {
  color: $main-lighter;
}

#jumbo {
  padding: 20px;
  background-color: $main-lighter;
}

#classname {
  font-weight: bold;
}

#add-student {
  margin-bottom: 15px;
}

#add-student input, select {
  margin: 5px;
}

.nav {
  color: $main-lighter;
  font-size: 1.2em;
  margin: 10px 0 40px 0;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  font-size: 11em;
  text-shadow: 2px 2px $main-darker;
}

.card {
  margin: 10px;
  font-size: 1.2em;
  background-color: $main-lighter;
}

.card a {
  color: $main-dark;
}

.custom-file-input ~ .custom-file-label::after {
  content: "Upload Picture";
}

@media screen and (max-width: 1150px) {
  .carousel-caption { 
     font-size: 4em; 
  }
}

@media screen and (max-width: 850px) {
  .carousel-caption { 
     font-size: 2em; 
  }
}