$main-lighter: #e3e8f8;
$main-light: #6a99cb;
$main-dark: #203562;
$main-darker: #2e3233;

//Bootstrap
$primary: $main-dark;
$secondary: $main-light;
$warning: $main-light;
$danger: #f77754;

@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $main-light;
  font-family: "Abel", Helvetica, Arial;
}

h1 {
  font-family: "Biryani";
}

a {
  color: $main-lighter;
}

.nav {
  color: $main-lighter;
  font-size: 1.2em;
  margin: 10px 0 40px 0;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  font-size: 11em;
  text-shadow: 2px 2px $main-darker;
}

.card {
  background-color: $main-lighter;
}
.card--margin {
  margin: 10px;
}
.card--margin-rb {
  margin-right: 10px;
  margin-bottom: 10px;
}
.card--bigger-font {
  font-size: 1.2em;
}

.card a {
  color: $main-dark;
}

.card img {
  margin: 10px 0px;
  max-width: 70px;
  max-height: 70px;
}

// .card li {
//   font-size: 1em;
// }

.classroom-sidebar {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba($main-dark, 0.3);
  border-radius: 5px;
}

.classroom-sidebar--min-vh {
  min-height: 20vh;
}

@media screen and (max-width: 1150px) {
  .carousel-caption {
    font-size: 4em;
  }
}

@media screen and (max-width: 850px) {
  .carousel-caption {
    font-size: 2em;
  }
}
